{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="mot_de_passe_oublie">
        <div class="container h-100 col-md-6" >
            <h2 class="text-center">Mot de passe oublié ?</h2>
            <p class="text-center">
                ne t'inquiète pas ! entrez votre e-mail ci-dessous et nous vous enverrons un e-mail avec des instructions sur la réinitialisation de votre mot de passe
            </p>
            {{ form_start(emailForm) }}
            {{ form_row(emailForm.email) }}
            <button class="" type="submit" formnovalidate>Envoyer</button>
            {{ form_end(emailForm) }}
        </div>
    </div>

{% endblock %}